.body-page {
  background-color: $background-color-main;
  font-family: $font-family-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  letter-spacing: $letter-spacing-regular;
  max-width: 1440px;

  @media (min-width: $screen-xl) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
