.body-page {
  background-color: $background-color-main;
  font-family: $font-family-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  letter-spacing: $letter-spacing-regular;

  @media (min-width: $screen-xl) {
    display: flex;
  }

  &__wrap {
    @media (min-width: $screen-xl) {
      margin-left: auto;
      margin-right: auto;
      max-width: 1120px;
    }
  }
}
