$border-color: #B8FFEC;

.menu {
  display: flex;
  justify-content: space-between;

  @media (min-width: $screen-desktop) {
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 40px;
    white-space: nowrap;
    padding: 5px;
    margin-right: 16px;

    &--active {
      border: 2px solid $border-color;
      border-radius: 6px;
      background-color: white;
      padding: 0 10px;
    }
  }

  &__link {
    color: $text-color-menu;
    font-family: $font-family-medium;
    font-weight: $font-weight-medium;
    text-decoration: none;

    &:hover {
      filter: drop-shadow(0 0 5px #1868ae);
    }
  }
}
