.blur-effect {
  background-color: #FFFFFF;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.96;

  &--hidden {
    display: none;
  }

  &--over-mobile {
    z-index: 10;
  }
}
