$background-color-main:       #F8F8F8;
$background-color-header:     #FFFFFF;
$background-color-mobile-menu:#FFFFFF;
$divider-color:               #EAEAEA;
$header-border-color:         #D9FFF5;
$icon-color:                  #FF3E79;

$text-color:                  #1B1C21;
$text-color-menu:             #7E7E82;
$text-color--muted:           #7E7E82;

$font-family-regular:         'TT Lakes Regular', 'Arial', sans-serif;
$font-family-medium:          'TT Lakes Medium', 'Arial', sans-serif;
$font-family-bold:            'TT Lakes Bold', 'Arial', sans-serif;

$font-weight-regular:         400;
$font-weight-medium:          500;
$font-weight-bold:            700;

$font-size-paragraph:         14px;
$font-size-regular:           16px;
$font-size-h1:                28px;

$line-height-paragraph:       18px;
$line-height-regular:         24px;
$line-height-h1:              40px;

$letter-spacing-paragraph:    0.2px;
$letter-spacing-regular:      -0.2px;
$letter-spacing-h1:           -0.6px;

$screen-mobile:               320px;
$screen-tablet:               768px;
$screen-desktop:              1120px;
$screen-xl:                   1440px;
