.main {
  background-color: $background-color-main;
  width: 100%;

  &__caption {
    margin-left: 16px;

    @media (min-width: $screen-tablet) {
      margin-left: 24px;
    }

    @media (min-width: $screen-desktop) {
      margin-left: 34px;
    }
  }

  &__menu-wrap {
    overflow: hidden;
    margin-top: 24px;
    position: relative;
    margin-bottom: 24px;
    margin-left: 16px;

    @media (min-width: $screen-tablet) {
      margin-top: 32px;
      margin-left: 24px;
      margin-bottom: 32px;
    }

    @media (min-width: $screen-desktop) {
      margin-top: 8px;
      margin-left: 34px;
      margin-bottom: 18px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 24px;
      height: 40px;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
      top: 0;
      right: -5px;

      @media (min-width: $screen-desktop) {
        display: none;
      }
    }
  }

  &__menu-limiter {
    overflow-x: scroll;
    padding-bottom: 24px;
    margin-bottom: -20px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;

    @media (min-width: $screen-desktop) {
      margin-bottom: 50px;
    }
  }
}
