.modal-call {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  height: 100%;

  &-wrap {
    padding: 24px 16px;
    background-color: $background-color-mobile-menu;
    height: 100%;
    width: 320px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    overflow-y: scroll;

    @media (min-width: $screen-tablet) {
      box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    }

    @media (min-width: $screen-xl) {
      padding: 40px 32px;
      width: 440px;
      overflow-y: auto;
    }
  }

  &--hidden {
    transform: translateX(320px);
    visibility: hidden;

    @media (min-width: $screen-xl) {
      transform: translateX(440px);
    }
  }

  &__icon {
    width: 40px;
    min-height: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: $icon-color;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all 0.3s;

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
      position: absolute;
      transform: translate(-105px, -5px);
    }

    &:hover {
      transform: scale(1.1);
    }

    &--exit {
      background-image: url('../img/exit.png');
    }
  }

  &__caption {
    font-size: 24px;
    line-height: 32px;
    font-family: $font-family-bold;
    letter-spacing: -0.6px;
    margin-bottom: 24px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -16px;
      top: -8px;
      width: 4px;
      height: 40px;
      background-image: url('../img/highlight.png');
      background-repeat: no-repeat;

      @media (min-width: $screen-xl) {
        left: -32px;
      }
    }
  }

  &__form {

    &-input {
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      padding: 12px 16px;
      width: 100%;
      margin-bottom: 16px;

      &:hover {
        box-shadow: 0 0 2px 1px #007aff;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 2px 1px #1868ae;
      }
    }

    &-text {
      font-family: $font-family-medium;
      font-weight: $font-weight-medium;
      font-size: $font-size-paragraph;
      line-height: 16px;
      color: $text-color--muted;
      margin-bottom: 18px;
    }

    &-submit {
      border-radius: 16px;
      background-color: $icon-color;
      position: relative;
      padding: 4px 4px 4px 12px;
      color: white;
      font-family: $font-family-regular;
      font-weight: $font-weight-bold;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.15px;
      text-transform: uppercase;
      vertical-align: middle;
      border: none;
      display: flex;
      transition: all 0.3s;
      cursor: pointer;
      margin-left: auto;

      &:hover {
        filter: brightness(120%);
      }

      &::after {
        content: '';
        display: block;
        border-radius: 20px;
        width: 24px;
        height: 24px;
        background-image: url('../img/dropdown.png');
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 8px;
      }
    }
  }

  &-important {
    color: $icon-color;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}
